.sea {
	width: 100%;
	position: relative;
	

}
.fish1 {
	position: absolute;
	animation: fish1 2s infinite;
	top: 100px;
	width: 150px;
	right: 0px;
	animation: fish1 5s infinite;
	animation-duration: 5s;
	
}

@keyframes fish1 {
  0%   {top: 600px; width: 100px;}
  100% {top: 400px; width: 300px;}
}
.fish2 {
	position: absolute;
	top: 500px;
	width: 150px;
	right: 0px;
	animation: fish2 5s infinite;
	animation-duration: 10s;
	animation-timing-function: linear;

}

@keyframes fish2 {
	0% {top: 500px} 
	0.1% {left: 1200px}
	100%{left: 0px}
}
.sun {
	position: absolute;
	top: 50px;
	width: 200px;
	right: 100px;
	animation: sun 5s infinite;
	/*animation-duration: 10s;
	animation-timing-function: linear;*/
}
.star {
	position: absolute;
	top: 700px;
	width: 100px;
	right: 1000px;
	animation: sun 5s infinite;
}

@keyframes star {
	0%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-165px)
              rotate(-360deg);
  }
}
  

